<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474177823750-5n4rcknuesj9ptasv9ghpke3tdpq10bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474177823750-5n4rcknuesj9ptasv9ghpke3tdpq10bs</string>
	<key>API_KEY</key>
	<string>AIzaSyD4dlIPJMrx4FI2kZfB9NQOeul95z8fvZA</string>
	<key>GCM_SENDER_ID</key>
	<string>474177823750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onlineFlims.asd</string>
	<key>PROJECT_ID</key>
	<string>asd123-4bd90</string>
	<key>STORAGE_BUCKET</key>
	<string>asd123-4bd90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474177823750:ios:ab56952039dc8daf76cf87</string>
</dict>
</plist>